@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gideon Roman", cursive;
}
body {
  background-image: url("../image/main-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 30rem;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 280px;
  text-align: center;
  min-height: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  background-color: #a87030e5;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 7px 5px 5px rgb(66, 15, 15);
}
.links {
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}
header {
  text-align: center;
  padding: 4rem;
}
h1 {
  font-size: 5rem;
  color: rgb(197, 185, 170);
  text-shadow: 7px 5px 5px rgb(66, 15, 15);
  margin-bottom: 1rem;
}
.search {
  text-align: center;
  background-color: #d1b697e5;
  color: black;
  width: 18rem;
  height: 1.5rem;
  font-size: 1rem;
}
.results {
  list-style: none;
}
.select {
  background-color: #d1b697e5;
  font-size: 1rem;
  max-width: 20rem;
  margin-top: 1.5rem;
}
.hide {
  display: none;
}
@media (max-width: 810px) {
  h1 {
    font-size: 3rem;
  }
}
